html, body{ height:100%; width: 100%; }

* { margin: 0px; }

div{
	display: inline-block;
}

#derecha{
	background-color: #fa7c07;
	height: 100%;
	width: 50%;
	float: left;
	text-align: center;
	align-items: center;
	box-sizing: border-box;
}

#parrafo{
	vertical-align: middle;

}

p{
	font-family: Arial, sans-serif;
	text-align: justify;
	padding-top: 70%;
	font-weight: bold;
}

#izquierda{
	background-color: white;
	height: 100%;
	width: 50%;
	float: left;
	text-align: center;
	align-items: center;
	box-sizing: border-box;
}

#logo{
	font-family: Arial, sans-serif;
	text-align: justify;
	padding-top: 55%;
	font-weight: bold;
	font-size: 20px;
}

#Registrarse{
        font-family:Arial, sans-serif;
        font-weight:bold;
        color:white;
        background: #fa7c07;
        border:1px;
        width:180px;
        height:40px;
        border-radius: 15px;
}

#inicio{
        font-family:Arial, sans-serif;
        font-weight:bold;
        color:white;
        background: #fa7c07;
        border:1px;
        width:180px;
        height:40px;
        border-radius: 15px;
}
